
body {

background-color: black;
color: white;	

}

a:link{
	color: white;
	background-color: transparent;
}
a:hover {
color: aqua;
background-color: transparent;
}

div a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 10px;
	border-top: 2px solid aqua;
	border-right: 2px solid aqua;
	border-bottom: 2px solid aqua;
	border-left:2px solid aqua;
	color: white;
}
h1 {
text-align: center;
}
div.links{

text-align: center;

}

a.hoofdmenu {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 10px;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left:2px solid transparent;

}

div.hoofdpagina{
	color: white;
	padding-top: 50px;
	margin: auto;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left:2px solid transparent;
	width:920px;
	font-size: 16pt;
}

img.ac {
width: 400px;
float: right;
margin-left: 20px;
margin-bottom: 20px;




}
